@use '../../index.scss' as *;

.projects {
  height: 100%;
  font-family: $cascadia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      color: $green;
    }
  }

  .projects-container {
    $grey: rgba($color: $white, $alpha: 0.2);

    height: 100%;
    display: flex;
    gap: 4rem;
    padding: 1rem 0;

    overflow: auto;

    // scrollbar css 
    scrollbar-width: thin;
    scrollbar-color: $green $grey;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $grey;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey;
      border-radius: 6px;
    }

    // scrollbar css end !
  }
}