@use '../../index.scss' as *;

.skills-page {
  $sidebar-width: 25%;

  display: flex;

  .sidebar {
    width: $sidebar-width;
    padding: 1rem;
    background-color: rgba($color: $white, $alpha: 0.1);

    .particular-skills {
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        .icon-container {
          width: 1rem;
        }

        h3 {
          display: flex;
          margin-top: 5px;
          gap: 3px;
          font-size: 1rem;
          font-weight: normal;
        }
      }
      ul {
        padding-left: 3rem;
        padding-top: 0.5rem;
        list-style-type: none;

        li {
          display: flex;
          gap: 3px;
          font-size: 0.8rem;
          margin-bottom: 2px;
        }
      }
    }
  }
  .skills-container {
    font-family: $cascadia;

    width: calc(100% - $sidebar-width);
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 3rem;
  }
  .note-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .note {
      font-size: 1.5rem;
      color: $brownish;
    }
  }
}

//responsive
@media screen and (width <= 480px) {
  .skills-page {
    flex-direction: column;

    .sidebar {
      width: 100%;

      .particular-skills {

        .heading {
          h3 {
            font-size: 1.5rem;
          }
        }
        ul {
          padding: 2rem;
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          justify-content: space-between;

          li {
            width: max-content;
          }
        }
      }
    }
    .skills-container {
      width: 100%;
      grid-template-columns: max-content;
      justify-content: center;
      align-items: center;
    }
  }
}
