@use '../../../index.scss' as *;

.project {
  $grey: rgba(
    $color: $white,
    $alpha: 0.2,
  );

  min-width: 40vw;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid rgba($color: $white, $alpha: 0.2);
  border-radius: 5px;

  overflow-x: hidden;
  overflow-y: auto;

  // scrollbar css
  scrollbar-width: thin;
  scrollbar-color: $brownish $grey;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey;
    border-radius: 6px;
  }
  // scrollbar css end !

  .title {
    color: $brownish;
  }

  .image-and-skills {
    display: flex;
    gap: 1rem;
    height: 60%;
    width: 100%;

    .preview-image {
      height: 100%;
      width: 60%;
      border-radius: 6px;
    }

    .skills {
      height: max-content;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;

      .skill {
        font-size: smaller;
        font-weight: 600;
        padding: 1rem;
        color: $dark;
        background-color: $brownish;
        border-radius: 5%;
      }
    }
  }

  .description {
    font-size: smaller;
  }

  div.link {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      color: $green;
    }
  }
}

//responsive
@media screen and (width <= 870px) {
  .project {
    min-width: 50vw;
    max-height: 60vh;

    .image-and-skills {
      height: 50%;

      .skills {
        gap: 0.5rem;

        .skill {
          font-size: 0.8rem;
          padding: 0.5rem;
        }
      }
    }
  }
}

//medium
@media screen and (width <= 600px) {
  .project {
    height: max-content;
    width: 100%;
    padding: 2rem;

    max-height: unset;
    overflow: unset;
  }
}
