@use '../../../index.scss' as *;

.project {
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid rgba($color: $white, $alpha: 0.2);
  border-radius: 5px;

  $grey: rgba($color: $white, $alpha: 0.2);

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: $brownish $grey;

  &::-webkit-scrollbar {
  width: 6px;
}

  &::-webkit-scrollbar-track {
    background: $grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey;
    border-radius: 6px;
  }

  .title {
    color: $brownish;
  }

  .image-and-skills{
    display: flex;
    gap: 1rem;
    height: 60%;
    width: 100%;

    .preview-image {
      height: 100%;
      width: 60%;
      border-radius: 6px;
    }

    .skills{
      height: max-content;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
      
      .skill{
        font-size: smaller;
        font-weight: 600;
        padding: 1rem;
        color: $dark;
        background-color: $brownish;
        border-radius: 5%;
      }
    }
  }


  .description {
    font-size: smaller;
  }

  div.link {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      color: $green;
    }
  }
}