@use '../index.scss' as *;

section.main-content.about {
  position: relative;
  padding: 5rem;
  font-family: $cascadia;
  font-size: small;

  div.container {
    height: 100%;
    display: flex;
    align-items: center;

    .inner-container {
      .heading {
        display: flex;
        align-items: center;
        width: 60%;
        margin-left: 5px;

        gap: 0.5rem;
        background: rgb(255, 66, 66);
        background: linear-gradient(
          90deg,
          rgba(243, 26, 26, 0.5) 0%,
          rgba(255, 67, 67, 0.106) 75%,
          rgba(253, 5, 5, 0.001) 90%
        );
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;

        .pink-dot {
          height: 12px;
          width: 12px;
          border-radius: 50%;
          background-color: $pink;
        }

        p {
          color: $brownish;
          font-size: small;
          font-weight: normal;
          padding: 0;
        }
      }

      p {
        position: relative;
        z-index: 10;

        width: 60%;
        padding-left: 1.5rem;

        line-height: 1.8;

        .brown {
          color: $brownish;
        }

        .green {
          color: $green;
        }

        .violet {
          color: $violet;
        }

        .pink {
          color: $pink;
        }
      }
    }
  }

  img {
    position: absolute;
    top: 10%;
    right: 20%;
    z-index: 0;
    height: 25rem;
    width: 20rem;
    object-fit: cover;

    user-select: none;

    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    border-radius: 0% 50% 0% 50% / 0% 40% 0% 40%;

    -webkit-box-shadow: 0px 0px 10px 4px #b7a2e5;
    box-shadow: 0px 0px 10px 4px #b7a2e5;

    &:hover {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none;
    }
  }
}

// responsiveness
@media screen and (width <= 1000px) {
  section.main-content.about {
    padding: 0 1rem;
    font-size: 1rem;

    div.container {
      display: flex;

      align-items: center;
      width: 100%;

      .inner-container {
        width: 100%;

        .heading {
          display: flex;
          align-items: center;
          width: 100%;
          margin-left: 5px;

          position: relative;
          z-index: 20;

          gap: 0.5rem;

          .pink-dot {
            height: 1rem;
            width: 1rem;
          }

          p {
            font-size: 1rem;
          }
        }

        p {
          width: 90%;
          padding-left: 1rem;

          font-size: 1rem;

          line-height: 1.6;
        }
      }
    }

    img {
      top: 5%;
      right: 10%;
    }
  }
}

@media screen and (width <= 400px) {
  section.main-content.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;

    img {
      position: initial;
    }
  }
}
