@use '../index.scss' as *;

.footer {
  height: 7%;
  display: flex;
  align-items: center;
  border: 2px solid $dark;

  h2 {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: small;
    padding: 0 1rem;
    border-right: 2px solid $dark;
  }

  .contact-methods {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: small;

    .contact-method {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      font-size: large;
      border-right: 2px solid $dark;

      cursor: pointer;

      a {
        color: white;
      }

      :hover {
        color: $brownish;
      }
    }
  }
}

// responsiveness
@media screen and (width <= 760px) {
  .footer {
    height: 10%;

    h2 {
      font-size: 1rem;
    }

    .contact-methods {
      .contact-method {
        padding: 0 2rem;
        font-size: medium;
      }
    }
  }
}
