@use '../index.scss' as *;

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;

  user-select: none;
  $padding-more: 2rem;

  .intro-1 {
    .hide-desktop {
      display: none;
    }
    .hide-mobile {
      display: initial;
    }

    $margin: 1rem;
    $padding: 1.5rem;

    place-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $cascadia;
    font-size: 0.9rem;

    max-width: 60%;

    padding-left: $margin;

    div.description {
      padding: $padding-more 0;
      padding-left: $margin;
      margin-left: $margin;
      border-left: 1px solid rgba($color: $white, $alpha: 0.5);
      div {
        height: 100%;
        padding: $padding-more 0;
        padding-left: $margin;
        border-left: 1px solid rgba($color: $white, $alpha: 0.5);
        div {
          height: 100%;
          padding: $padding-more 0;
          padding-left: $margin;
          border-left: 1px solid rgba($color: $white, $alpha: 0.5);
          .brown {
            color: $brownish;
          }

          .green {
            color: $green;
          }

          .violet {
            color: $violet;
          }

          .pink {
            color: $pink;
          }

          &.content {
            padding-left: $padding;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .intro-2 {
    font-family: $cascadia;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      display: flex;
      flex-direction: column;
      color: $green;

      font-size: 6rem;
    }

    p.help {
      font-size: 3rem;
    }

    .typewriter-effect {
      height: 10%;
      font-size: 3rem;
      font-weight: bold;
      color: $violet;

      .blinker {
        animation: 0.5s linear infinite blink;
        margin-left: -$padding-more;

        @keyframes blink {
          0% {
            opacity: 1;
          }

          50% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

// responsiveness
@media screen and (width <= 760px) {
  .homepage {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // justify-content: space-around;
    padding: 2rem;
    $padding-more: 0;

    .intro-1 {
      .hide-mobile {
        display: none;
      }
      .hide-desktop {
        display: initial;
      }

      margin: 0;
      padding: 0;

      max-width: 100%;
      $margin: 0;
      $padding: 1.5rem;
      font-size: 1.3rem;

      div.description {
        padding: $padding-more 0;
        padding-left: $margin;
        margin-left: $margin;
        border-left: none;

        div {
          height: 100%;
          padding: $padding-more 0;
          padding-left: $margin;
          border-left: none;

          div {
            height: 100%;
            padding: $padding-more 0;
            padding-left: $margin;
            border-left: none;

            &.content {
              padding-left: $padding;
              line-height: 1.5;
            }
          }
        }
      }
    }

    .intro-2 {
      min-height: 110%;
      .name {
        font-size: 5rem;
      }

      p.help {
        font-size: 2rem;
      }

      .typewriter-effect {
        height: 10%;
        font-size: 2rem;
        min-width: max-content;
      }
    }
  }
}

@media screen and (width <= 400px) {
  .homepage {
    .intro-2 {
      align-items: center;
      .name {
        font-size: 6rem;
      }
    }
  }
}
