@use '../index.scss' as *;

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;

  user-select: none;


  .intro-1 {
    $margin: 15px;
    $padding: 20px;

    place-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $cascadia;
    font-size: small;

    max-width: 60%;


    padding-left: $margin;


    ul.indices {
      list-style-type: none;

      li {
        color: rgba($color: $white, $alpha: 0.5);
        line-height: 1.5;
      }

      &::before,
      &::after {
        position: absolute;
        height: 20px;
        background-color: rgba($color: $white, $alpha: 0.5);
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    div.description {
      padding: 30px 0;
      padding-left: $margin;
      margin-left: $margin;
      border-left: 1px solid rgba($color: $white, $alpha: 0.5);
      ;

      div {
        height: 100%;
        padding: 30px 0;
        padding-left: $margin;
        border-left: 1px solid rgba($color: $white, $alpha: 0.5);
        ;

        div {
          height: 100%;
          padding: 30px 0;
          padding-left: $margin;
          border-left: 1px solid rgba($color: $white, $alpha: 0.5);
          ;

          .brown {
            color: $brownish;
          }

          .green {
            color: $green;
          }

          .violet {
            color: $violet;
          }

          .pink {
            color: $pink;
          }

          &.content {
            padding-left: $padding;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .intro-2 {
    font-family: $cascadia;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      display: flex;
      flex-direction: column;
      color: $green;

      font-size: 6rem;
    }

    p.help {
      font-size: 3rem;
    }

    .typewriter-effect {
      height: 10%;
      font-size: 3rem;
      font-weight: bold;
      color: $violet;

      .blinker {
        animation: 0.5s linear infinite blink;

        @keyframes blink {
          0% {
            opacity: 1;
          }

          50%{
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}