@use '../index.scss' as *;

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .intro-1 {
    display: flex;
    align-items: center;
    font-family: $cascadia;

    padding-left: 20px;

    ul{
      list-style-type: none;

      li{
        line-height: 1.5;
      }
    }

    div {
      padding: 40px 0;
      padding-left: 20px;
      margin-left: 20px;
      border-left: 1px solid $white;

      div {
        height: 100%;
        padding: 40px 0;
        padding-left: 20px;
        border-left: 1px solid $white;

        div {
          height: 100%;
          padding: 40px 0;
          padding-left: 20px;
          border-left: 1px solid $white;

          .brown{
            color: $brownish;
          }
          .green{
            color: $green;
          }
          .violet{
            color: $violet;
          }
          .pink{
            color: $pink;
          }

          &.content{
            line-height: 1.5;
          }
        }
      }
    }
  }

  .intro-2 {
    font-family: $cascadia;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      display: flex;
      flex-direction: column;
      color: $green;

      font-size: 6rem;
    }

    p.help {
      font-size: 3rem;
    }

    .typewriter-effect {
      font-size: 3rem;
      font-weight: bold;
      color: $violet;
    }
  }
}