@use '../index.scss' as *;

.navbar{
  $border-size: 2px;

  height: 50%;
  display: flex;
  list-style-type: none;
  border: $border-size solid $dark;

  li{
    height: 100%;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: small;
    padding: $border-size 0;
    
    border-right: $border-size solid $dark;

    &:hover{
      color: $brownish;
      cursor: pointer;
    }

    &.active{
      color: $brownish;
      background-color: $dark;
      padding-top: 0;
      border-top: $border-size solid $pink;
    }
  }
}
